* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 300px 1fr 80px ;
  min-height: 100vh;
  gap:10px;
  padding: 10px;
  
}

.header{
  background-color: lightcoral;
  grid-column: span 2;
}

.hero{

  background-color: lightblue;
  grid-column: span 2;
}
.sidebar{
  background-color: lightgreen;
}
.main{
  background-color: lightseagreen;
}

.footer{
  background-color: crimson;
  grid-column: span 2;
}


.box{
border: 2px solid black
}